[General]
Name=Book-Example
Comment=Example for "Discovering Modern C++"
Comment[de]=Beispiel für "Discovering Modern C++" 
Comment[es]=Ejemplo por libro "Discovering Modern C++"
Comment[it]=Esempio per libro "Discovering Modern C++"
Comment[fr]=Example pour livre "Discovering Modern C++"
Category=C++/Book
Language=C++
Language[bs]=C++
Language[ca]=C++
Language[ca@valencia]=C++
Language[cs]=C++
Language[da]=C++
Language[de]=C++
Language[el]=C++
Language[es]=C++
Language[et]=C++
Language[fi]=C++
Language[fr]=C++
Language[gl]=C++
Language[hu]=C++
Language[it]=C++
Language[kk]=C++
Language[mr]=C++
Language[nb]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[ru]=C++
Language[se]=C++
Language[sk]=C++
Language[sl]=C++
Language[sv]=C++
Language[tr]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_CN]=C++
Language[zh_TW]=C++
Type=Test
Files=Implementation

[Implementation]
Name=Implementation
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementation
Name[de]=Implementierung
Name[el]=Implementation
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[it]=Implementazione
Name[kk]=Іске асыруы
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[ru]=Реализация
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=实现
Name[zh_TW]=實作
File=book_example.cpp
OutputFile={{ name }}.cpp
